img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 213px;
  object-fit: cover;
}

.gallery {
    padding-left: 15px;
      padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  border: 1px solid grey;
  width: calc((100% - 45px) / 4);
}

.info {
  display: flex;
}

.search-form {
  display: flex;
 justify-content: center;
 background-color: teal;
 padding: 10px 0;
 margin-bottom: 10px;
};

.info-item {
  text-align: center;
};

.btn-primary {
  display: flex;
 margin: 20px auto;
 align-items: center;
}

.submit-btn {
  margin-left: 10px;
  border: none;
  padding: 10px 20px;
  background-color: crimson;
  border-radius: 10px;
  transition: all 300ms linear;
}

.submit-btn:hover {
  background-color: green;
}


.btn.is-hidden {
  display: none; 
}

 .spinner-border.is-hidden { 
  display: none;
};

.input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
}


