img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 213px;
  object-fit: cover;
}

.gallery {
    padding-left: 15px;
      padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  border: 1px solid grey;
  width: calc((100% - 45px) / 4);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .5);
  background-color: #fc8a11;
}

.info {
  display: flex;
}


.search-form {
  display: flex;
 justify-content: center;
 background-color: #fc8a11;
 padding: 10px 0;
 margin-bottom: 10px;
};

.info-item {
  text-align: center;
};

.btn-primary {
  display: flex;
 margin: 20px auto;
 align-items: center;
}

.submit-btn {
  // margin-left: 10px;
  border: none;
  padding: 10px 20px;
  background-color: lightgrey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 300ms linear;
}

.submit-btn:hover {
  background-color: green;
}


.btn.is-hidden {
  display: none; 
}

 .spin.is-hidden { 
  display: none;
};

.input {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  border: transparent;
  outline: transparent;
  background-color: #000;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 77;
  border: none;
  outline: none;
  background-color: #fc8a11;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 25%;

  transition: all 250ms linear;
}

.arrow {
  fill: currentColor;
}

@media screen and (min-width: 1158px) {

  #myBtn:hover,
  #myBtn:focus {
    color: #fc8a11;
    background-color: black;
  }
}

.spin {
  position: fixed;
  bottom: 40px;
  left: 45%;
}

